.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none; }
  .nav-link.disabled {
    color: #6c757d; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }
  .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    -webkit-border-top-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
    -webkit-border-top-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: #e9ecef #e9ecef #dee2e6; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff; }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0; }

.nav-pills .nav-link {
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff; }

.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center; }

.nav-justified .nav-item {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0; }
  .tooltip.show {
    opacity: 0.9; }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem; }
    .tooltip .arrow::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid; }

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0; }
  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0; }
    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
      top: 0;
      border-width: 0.4rem 0.4rem 0;
      border-top-color: #000; }

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem; }
  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
      right: 0;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-right-color: #000; }

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0; }
  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0; }
    .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
      bottom: 0;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: #000; }

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem; }
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
      left: 0;
      border-width: 0.4rem 0 0.4rem 0.4rem;
      border-left-color: #000; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  -webkit-border-radius: 0.25rem;
          border-radius: 0.25rem; }

/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative; }

.scroll-wrapper > .scroll-content {
  border: none !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important; }

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0; }

.scroll-element {
  display: none; }

.scroll-element, .scroll-element div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block; }

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default; }

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999; }

.scroll-textarea > .scroll-content {
  overflow: hidden !important; }

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important; }

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0; }

/*************** SIMPLE INNER SCROLLBAR ***************/
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-inner > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-inner > .scroll-element.scroll-x {
  bottom: 2px;
  height: 8px;
  left: 0;
  width: 100%; }

.scrollbar-inner > .scroll-element.scroll-y {
  height: 100%;
  right: 2px;
  top: 0;
  width: 8px; }

.scrollbar-inner > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4; }

.scrollbar-inner > .scroll-element .scroll-element_track {
  background-color: #e0e0e0; }

.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #c2c2c2; }

.scrollbar-inner > .scroll-element:hover .scroll-bar {
  background-color: #919191; }

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -12px; }

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -12px; }

/*************** SIMPLE OUTER SCROLLBAR ***************/
.scrollbar-outer > .scroll-element,
.scrollbar-outer > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-outer > .scroll-element {
  background-color: #ffffff; }

.scrollbar-outer > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%; }

.scrollbar-outer > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px; }

.scrollbar-outer > .scroll-element .scroll-element_outer {
  overflow: hidden; }

.scrollbar-outer > .scroll-element .scroll-element_track {
  background-color: #eeeeee; }

.scrollbar-outer > .scroll-element .scroll-element_outer,
.scrollbar-outer > .scroll-element .scroll-element_track,
.scrollbar-outer > .scroll-element .scroll-bar {
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.scrollbar-outer > .scroll-element .scroll-bar {
  background-color: #d9d9d9; }

.scrollbar-outer > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2; }

.scrollbar-outer > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191; }

/* scrollbar height/width & offset from container borders */
.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px; }

.scrollbar-outer > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px; }

.scrollbar-outer > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px; }

.scrollbar-outer > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px; }

.scrollbar-outer > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px; }

.scrollbar-outer > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px; }

/*************** SCROLLBAR MAC OS X ***************/
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-macosx > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-macosx > .scroll-element .scroll-element_track {
  display: none; }

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: #6C6E71;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7; }

.scrollbar-macosx > .scroll-element.scroll-x {
  bottom: 0px;
  height: 0px;
  left: 0;
  min-width: 100%;
  overflow: visible;
  width: 100%; }

.scrollbar-macosx > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0px;
  top: 0;
  width: 0px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {
  height: 7px;
  min-width: 10px;
  top: -9px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
  left: -9px;
  min-height: 10px;
  width: 7px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {
  left: 2px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {
  top: 2px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

/*************** SCROLLBAR LIGHT ***************/
.scrollbar-light > .scroll-element,
.scrollbar-light > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-light > .scroll-element {
  background-color: #ffffff; }

.scrollbar-light > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-light > .scroll-element .scroll-element_outer {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.scrollbar-light > .scroll-element .scroll-element_size {
  background: #dbdbdb;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #dbdbdb), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: -o-linear-gradient(left, #dbdbdb 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, right top, from(#dbdbdb), to(#e8e8e8));
  background: linear-gradient(to right, #dbdbdb 0%, #e8e8e8 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.scrollbar-light > .scroll-element.scroll-x {
  bottom: 0;
  height: 17px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-light > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 17px; }

.scrollbar-light > .scroll-element .scroll-bar {
  background: #fefefe;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fefefe), color-stop(100%, #f5f5f5));
  background: -webkit-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: -o-linear-gradient(left, #fefefe 0%, #f5f5f5 100%);
  background: -webkit-gradient(linear, left top, right top, from(#fefefe), to(#f5f5f5));
  background: linear-gradient(to right, #fefefe 0%, #f5f5f5 100%);
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-light > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px; }

.scrollbar-light > .scroll-content.scroll-scrollx_visible {
  top: -17px;
  margin-top: 17px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 0px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-bar {
  left: 0px;
  min-height: 10px;
  width: 10px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-element_outer {
  height: 12px;
  left: 2px;
  top: 2px; }

.scrollbar-light > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  top: 2px;
  width: 12px; }

.scrollbar-light > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px; }

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px; }

.scrollbar-light > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px; }

.scrollbar-light > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px; }

/*************** SCROLLBAR RAIL ***************/
.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-rail > .scroll-element {
  background-color: #ffffff; }

.scrollbar-rail > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-rail > .scroll-element .scroll-element_size {
  background-color: #999;
  background-color: rgba(0, 0, 0, 0.3); }

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.5); }

.scrollbar-rail > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  min-width: 100%;
  padding: 3px 0 2px;
  width: 100%; }

.scrollbar-rail > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  padding: 0 2px 0 3px;
  right: 0;
  top: 0;
  width: 12px; }

.scrollbar-rail > .scroll-element .scroll-bar {
  background-color: #d0b9a0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }

/* scrollbar height/width & offset from container borders */
.scrollbar-rail > .scroll-content.scroll-scrolly_visible {
  left: -17px;
  margin-left: 17px; }

.scrollbar-rail > .scroll-content.scroll-scrollx_visible {
  margin-top: 17px;
  top: -17px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-bar {
  height: 10px;
  min-width: 10px;
  top: 1px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-bar {
  left: 1px;
  min-height: 10px;
  width: 10px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer {
  height: 15px;
  left: 5px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size {
  height: 2px;
  left: -10px;
  top: 5px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer {
  top: 5px;
  width: 15px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size {
  left: 5px;
  top: -10px;
  width: 2px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -25px; }

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -25px; }

.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -25px; }

.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -25px; }

/*************** SCROLLBAR DYNAMIC ***************/
.scrollbar-dynamic > .scroll-element,
.scrollbar-dynamic > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-dynamic > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-dynamic > .scroll-element.scroll-x {
  bottom: 2px;
  height: 7px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-dynamic > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 2px;
  top: 0;
  width: 7px; }

.scrollbar-dynamic > .scroll-element .scroll-element_outer {
  opacity: 0.3;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.scrollbar-dynamic > .scroll-element .scroll-element_size {
  background-color: #cccccc;
  opacity: 0;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.scrollbar-dynamic > .scroll-element .scroll-bar {
  background-color: #6c6e71;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-dynamic > .scroll-element.scroll-x .scroll-bar {
  bottom: 0;
  height: 7px;
  min-width: 24px;
  top: auto; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
  left: auto;
  min-height: 24px;
  right: 0;
  width: 7px; }

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_outer {
  bottom: 0;
  top: auto;
  left: 2px;
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_outer {
  left: auto;
  right: 0;
  top: 2px;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s; }

.scrollbar-dynamic > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-dynamic > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

/* hover & drag */
.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer {
  overflow: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7; }

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
  opacity: 1; }

.scrollbar-dynamic > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scrollbar-dynamic > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.scrollbar-dynamic > .scroll-element.scroll-x:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
  height: 20px;
  min-height: 7px; }

.scrollbar-dynamic > .scroll-element.scroll-y:hover .scroll-element_outer,
.scrollbar-dynamic > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
  min-width: 7px;
  width: 20px; }

/*************** SCROLLBAR GOOGLE CHROME ***************/
.scrollbar-chrome > .scroll-element,
.scrollbar-chrome > .scroll-element div {
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-chrome > .scroll-element {
  background-color: #ffffff; }

.scrollbar-chrome > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-chrome > .scroll-element .scroll-element_track {
  background: #f1f1f1;
  border: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-x {
  bottom: 0;
  height: 16px;
  left: 0;
  min-width: 100%;
  width: 100%; }

.scrollbar-chrome > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 16px; }

.scrollbar-chrome > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
  border: 1px solid #bdbdbd;
  cursor: default;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.scrollbar-chrome > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
  border-color: #a9a9a9; }

.scrollbar-chrome > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
  border-color: #7e7e7e; }

/* scrollbar height/width & offset from container borders */
.scrollbar-chrome > .scroll-content.scroll-scrolly_visible {
  left: -16px;
  margin-left: 16px; }

.scrollbar-chrome > .scroll-content.scroll-scrollx_visible {
  top: -16px;
  margin-top: 16px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-bar {
  height: 8px;
  min-width: 10px;
  top: 3px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-bar {
  left: 3px;
  min-height: 10px;
  width: 8px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_outer {
  border-left: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_track {
  height: 14px;
  left: -3px; }

.scrollbar-chrome > .scroll-element.scroll-x .scroll-element_size {
  height: 14px;
  left: -4px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_outer {
  border-top: 1px solid #dbdbdb; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_track {
  top: -3px;
  width: 14px; }

.scrollbar-chrome > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
  width: 14px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -19px; }

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -19px; }

.scrollbar-chrome > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -19px; }

.scrollbar-chrome > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -19px; }

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  font-family: Arial; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  color: #979fad;
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

@font-face {
  font-family: 'Courgette';
  src: url("../../fonts/Courgette-Regular.woff2") format("woff2"), url("../../fonts/Courgette-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Medium.woff2") format("woff2"), url("../../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Regular.woff2") format("woff2"), url("../../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  color: #76797e;
  height: 100%;
  font-family: 'Raleway'; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #f4f4f4; }

.main {
  width: 100%; }

.main_hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 40px; }
  @media (max-width: 1600px) {
    .main_hero {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  @media (max-width: 767px) {
    .main_hero {
      padding: 20px 25px; } }
  @media (max-width: 479px) {
    .main_hero {
      padding: 20px 15px; } }

.hero_content {
  width: -webkit-calc(67% - 40px);
  width: calc(67% - 40px);
  margin: 0 50px 0 0;
  background: #fff; }
  @media (max-width: 1600px) {
    .hero_content {
      width: 100%;
      margin: 0;
      padding: 0 0 20px 0; } }

.wrap-messages {
  padding: 30px 40px; }

.header {
  width: 100%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f4f4f4;
  -webkit-box-shadow: 0px 10px 25px -3px rgba(50, 50, 50, 0.1);
          box-shadow: 0px 10px 25px -3px rgba(50, 50, 50, 0.1); }
  @media (max-width: 479px) {
    .header {
      padding: 20px 15px; } }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 270px;
  padding: 0 20px 0 0; }
  @media (max-width: 767px) {
    .logo {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0;
      width: auto; } }
  .logo:after {
    content: '';
    position: absolute;
    right: 0;
    top: -29px;
    width: 1px;
    background: #f4f4f4;
    height: 90px; }
    @media (max-width: 767px) {
      .logo:after {
        display: none; } }
  .logo a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .logo p {
    padding: 0 0 0 20px; }

.img-holder {
  position: relative; }
  .img-holder:after {
    content: '';
    background: #3395ff;
    width: 1px;
    height: 60px;
    position: absolute;
    top: -11px;
    left: 42px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform: rotate(20grad);
        -ms-transform: rotate(20grad);
            transform: rotate(20grad); }

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none; }
  @media (max-width: 767px) {
    .menu-button {
      padding-top: 25px; } }

.right-side {
  width: 84.9%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px 0 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1023px) {
    .right-side {
      padding: 0 0 0 20px; } }
  @media (max-width: 767px) {
    .right-side {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      padding: 0; } }

.form-search {
  position: relative;
  display: inline-block; }
  @media (max-width: 767px) {
    .form-search {
      margin: 10px 0 0 0; } }
  .form-search:focus-within {
    background: -webkit-gradient(linear, left top, left bottom, from(#3395ff), to(#fff));
    background: -webkit-linear-gradient(#3395ff, #fff);
    background: -o-linear-gradient(#3395ff, #fff);
    background: linear-gradient(#3395ff, #fff); }

.form-search input[type="search"] {
  width: 80px;
  height: 32px;
  line-height: 32px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 0 0 6px;
  background: transparent;
  color: #dadbdd;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.form-search:focus-within input[type="search"],
.form-search input[type="search"]:focus {
  width: 160px;
  color: #25464D; }

.form-search input[type="image"] {
  padding: 0;
  vertical-align: bottom; }

.profile-holder,
.messege-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.messege {
  margin: 0 20px 0 0;
  position: relative; }
  .messege .fa-envelope:before {
    position: absolute;
    top: 12px;
    left: 11px;
    color: #979fad; }

.message-info,
.bell-info {
  position: absolute;
  top: -8px;
  right: -3px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #3395ff;
  text-align: center;
  color: #fff; }

.bell-info {
  background: #ff7473; }

.bell {
  position: relative; }
  .bell .fa-bell:before {
    position: absolute;
    top: 12px;
    right: 13px;
    color: #979fad; }

.message-info {
  position: absolute; }

.messege-wrap {
  padding: 0 30px;
  position: relative; }
  @media (max-width: 1023px) {
    .messege-wrap {
      padding: 0 5px; } }
  @media (max-width: 767px) {
    .messege-wrap {
      padding: 0; } }
  .messege-wrap:after {
    content: '';
    position: absolute;
    height: 50px;
    width: 1px;
    background: #f4f4f4;
    top: 0;
    right: -10px; }
    @media (max-width: 767px) {
      .messege-wrap:after {
        display: none; } }
  .messege-wrap:before {
    content: '';
    position: absolute;
    height: 50px;
    width: 1px;
    background: #f4f4f4;
    top: 0;
    left: -10px; }
    @media (max-width: 767px) {
      .messege-wrap:before {
        display: none; } }

.background-profile,
.profile {
  background: #f4f4f4;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.profile {
  width: 50px;
  height: 50px;
  border: 1px solid #3395ff;
  margin: 0 0 0 40px; }
  @media (max-width: 480px) {
    .profile {
      margin: 0 0 0 15px; } }

.aside {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  max-width: 100px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media (max-width: 767px) {
    .aside {
      position: absolute;
      padding: 0 0 80px 0;
      z-index: 3; } }
  @media (max-width: 479px) {
    .aside {
      max-width: 50px; } }
  .aside h3 {
    color: #d5d8dc; }
    @media (max-width: 479px) {
      .aside h3 {
        font-size: 10px;
        text-align: center;
        padding: 10px 0 0 0; } }
  .aside__list {
    margin-right: 6px; }
  .aside__title {
    padding: 20px 0 0 20px; }
    @media (max-width: 479px) {
      .aside__title {
        padding: 10px 0 0 8px; } }
  .aside__item {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .aside__item a {
      color: transparent; }
      .aside__item a i {
        color: #76797e; }
    .aside__item:hover {
      background-color: #f2f4f7; }
      .aside__item:hover a {
        border-left: 6px solid #3395ff; }
      .aside__item:hover i {
        color: #3395ff; }
    .aside__item a {
      border-left: 6px solid transparent;
      display: block;
      padding: 20px 0 20px 35px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media (max-width: 479px) {
        .aside__item a {
          padding: 10px 0 10px 12px; } }
      .aside__item a i {
        margin-right: 24px; }
  .aside__active {
    max-width: 300px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .aside__active a {
      color: #76797e; }
  .aside .fa-cog:before {
    font-size: 20px; }

.options {
  position: absolute;
  height: 45px;
  width: 70px;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #f9f9f9;
  border: 1px solid #979fad;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  @media (max-width: 479px) {
    .options {
      height: 30px;
      width: 35px; } }
  .options:hover {
    color: #1585ff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0px 0 15px;
            box-shadow: 0px 0 15px; }

.main_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  width: 100%; }
  @media (max-width: 767px) {
    .main_header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 479px) {
    .main_header {
      -webkit-box-align: right;
      -webkit-align-items: right;
          -ms-flex-align: right;
              align-items: right;
      padding: 20px 15px; } }

@media (max-width: 767px) {
  .your-profile-wrap {
    padding: 0 0 20px 0; } }

.your-profile-wrap span {
  display: block; }

.name-your-profile {
  font-size: 22px;
  color: #333;
  font-weight: bold; }

.choice-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 0 0; }
  @media (max-width: 479px) {
    .choice-home {
      font-size: 10px; } }
  .choice-home .choice-home_home {
    padding: 0 12px 0 0;
    position: relative; }
    .choice-home .choice-home_home:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 1px;
      height: 16px;
      background: #979fad; }
  .choice-home .choice-home_profile {
    padding: 0 0 0 10px; }
  .choice-home a:hover {
    color: #3395ff;
    text-shadow: 0 0 10px; }

.income {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px 0 0; }
  .income .income-name {
    text-transform: uppercase;
    font-weight: 500; }
  .income .income-total {
    color: #3395ff;
    font-weight: bold;
    font-size: 20px; }

.income-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .income-wrap {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 0 0 15px; } }
  .income-wrap:first-child {
    padding: 0 32px 0 0; }
    @media (max-width: 767px) {
      .income-wrap:first-child {
        padding: 0;
        margin: 0 0 20px 0; } }
  .income-wrap .pillar-one {
    height: 16px; }
  .income-wrap .pillar-two {
    height: 12px; }
  .income-wrap .pillar-three {
    height: 8px; }
  .income-wrap .pillar-four {
    height: 10px; }
  .income-wrap .pillar-five {
    height: 32px; }
  .income-wrap .pillar-six {
    height: 16px; }
  .income-wrap .pillar-sevne {
    height: 22px; }
  .income-wrap .pillar-eight {
    height: 28px; }
  .income-wrap .pillar-nine {
    height: 38px; }
  .income-wrap .pillar-ten {
    height: 19px; }

.rank-bg {
  display: inline-block;
  height: 40px;
  width: 3px;
  background: #979fad; }
  .rank-bg:hover {
    background: #ff7473;
    cursor: pointer; }

.rank-bg-blue:hover {
  background: #3395ff; }

.rank-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.tooltip.pink .tooltip-inner {
  background: #ff7473; }

.tooltip.pink .arrow:before {
  border-top-color: #ff7473; }

.tooltip.blue .tooltip-inner {
  background: #3395ff; }

.tooltip.blue .arrow:before {
  border-top-color: #3395ff; }

.profile-wrap {
  width: 33%; }
  @media (max-width: 1600px) {
    .profile-wrap {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media (max-width: 1200px) {
    .profile-wrap {
      display: block; } }
  .profile-wrap .profile-info {
    display: block;
    text-align: center;
    padding: 0 0 10px 0; }

.hero-profile {
  background: #fff;
  padding: 40px;
  margin: 0 0 60px 0; }
  .hero-profile .name {
    font-size: 18px;
    color: #333;
    font-weight: bold; }
  @media (max-width: 480px) {
    .hero-profile {
      padding: 20px; } }
  .hero-profile .total {
    color: black;
    font-weight: bold;
    font-size: 22px; }
  @media (max-width: 1600px) {
    .hero-profile {
      width: 50%; } }
  @media (max-width: 1200px) {
    .hero-profile {
      width: 100%; } }

.photo-profile {
  display: block;
  width: 100px;
  height: 100px;
  background: #f4f4f4;
  border: 2px solid #3395ff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto 25px auto; }

.button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 40px 0; }
  @media (max-width: 479px) {
    .button-wrap {
      margin: 15px 0; } }
  .button-wrap .profile-button {
    width: 170px;
    padding: 20px 0;
    border: 1px solid #3395ff;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    cursor: pointer;
    outline: none;
    background: white;
    color: #3395ff; }
    @media (max-width: 767px) {
      .button-wrap .profile-button {
        margin: 15px; } }
    .button-wrap .profile-button:hover {
      color: red;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -webkit-box-shadow: 0px 0 15px;
              box-shadow: 0px 0 15px; }
  .button-wrap .edit {
    background: #3395ff;
    color: white; }

.profile-statistics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #979fad;
  border-bottom: 2px solid #979fad;
  padding: 20px 0; }
  .profile-statistics .name-stat {
    margin: 10px 0 0 0;
    text-transform: uppercase; }

.wrapp-stars {
  width: 70px;
  position: relative; }
  .wrapp-stars ul {
    padding: 0;
    margin: 0 0 15px 0; }
  .wrapp-stars .rank-stars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .wrapp-stars .rank-stars .fa-star {
      font-size: 12px;
      color: gold; }
  .wrapp-stars .rank-stars-active {
    position: absolute;
    overflow: hidden; }

.profile-statistics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 480px) {
    .profile-statistics .phone-visability {
      width: 50%; } }
  .profile-statistics span {
    display: block; }

.product-info-wrap {
  padding: 25px 0; }

.product-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .product-info:first-child {
    margin: 0 0 30px 0; }
  .product-info .product-info-bg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #3395ff;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .product-info .product-info-bg .fab,
    .product-info .product-info-bg .far {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: white; }
  .product-info .info-bg-green {
    background: #0ac51b; }

.product-info-text {
  padding: 0 0 0 55px; }
  .product-info-text span {
    display: block; }
  .product-info-text .place {
    margin: 15px 0 0 0; }

.product-info-name {
  color: black;
  font-weight: bold; }

.web-site {
  text-align: center;
  padding: 25px 0 0 0;
  border-top: 2px solid #979fad; }
  .web-site a {
    color: #979fad; }
    .web-site a:hover {
      color: #1585ff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      text-shadow: 0px 0 15px; }

.pay-info-wrap {
  background: #fff;
  padding: 40px; }
  @media (max-width: 1600px) {
    .pay-info-wrap {
      margin: 0 0 60px 50px;
      width: 50%; } }
  @media (max-width: 1200px) {
    .pay-info-wrap {
      width: 100%;
      margin: 0 0 60px 0; } }

.test1 {
  border-bottom: 2px solid #979fad; }

.text11,
.test12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 25px 0; }
  .text11 .one,
  .text11 .four,
  .test12 .one,
  .test12 .four {
    margin: 0 30px 0 0; }

.table-pay {
  overflow: hidden;
  padding: 20px 0 0 0;
  width: 100%; }
  .table-pay .fa-cloud-download-alt:hover {
    color: #3395ff;
    cursor: pointer; }

.pay-info {
  width: 100%;
  border: none;
  min-width: 390px; }
  .pay-info tr {
    border: none; }
    .pay-info tr th {
      border: none;
      padding: 10px 0;
      text-align: left; }

.tab-pane {
  padding: 0 40px;
  height: 970px; }
  @media (max-width: 767px) {
    .tab-pane {
      padding: 0 20px; } }
  @media (max-width: 479px) {
    .tab-pane {
      padding: 0 20px; } }

.day {
  padding: 30px 0 15px 0; }

.activity-wrap .activity {
  padding: 0 0 0 35px;
  position: relative; }
  .activity-wrap .activity:after {
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    left: 7px;
    bottom: -15px;
    background: grey;
    width: 1px; }
  .activity-wrap .activity:last-child:after {
    content: '';
    display: none; }
  .activity-wrap .activity:nth-child(even):before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    background: #0ac51b;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 3px solid #c0f0c4; }
  .activity-wrap .activity:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    background: #0ac51b;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #886aef;
    border: 3px solid #e0d8fb; }

.activity-wrap-second .activity:nth-child(even):before {
  background: #3395ff;
  border: 3px solid #e0d8fb; }

.activity-wrap .publication-information {
  display: block;
  padding: 0 0 15px 0; }

.activity-wrap .activity-qustion {
  display: inline-block;
  background: #f4f4f4;
  padding: 15px;
  margin: 0 0 15px 0;
  border: 1px solid #979fad;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.activity-wrap .theme {
  padding: 15px 0 15px 0; }

.theme-photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .theme-photo .inst-photo {
    display: block;
    margin: 0 15px 0 0; }
  .theme-photo img {
    margin: 0 0 15px 0;
    -webkit-border-radius: 4px;
            border-radius: 4px; }

#nav-tab .active {
  background-color: #f2f4f7;
  border-top: 6px solid #3395ff;
  height: 100%;
  color: #3395ff;
  line-height: 80px; }

.nav-tabs,
.nav-item {
  line-height: 80px; }

.footer {
  width: 100%;
  background-color: #f0f0f0;
  padding: 26px 40px; }
  .footer p {
    font-size: 11px;
    color: #a2a7af;
    text-transform: uppercase; }
  .footer a {
    color: #80aadd; }
    .footer a:hover {
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      color: green; }
    .footer a:active {
      color: red; }

.messages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 970px; }
  .messages .chat {
    width: 100%; }
  .messages .dialog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    position: relative; }

.avatar {
  width: 65px;
  height: 65px;
  min-width: 65px;
  margin-right: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: grey; }
  @media (max-width: 479px) {
    .avatar {
      width: 40px;
      height: 40px;
      min-width: 40px;
      margin-left: 15px; } }

.answer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  position: relative; }
  .answer .avatar {
    width: 65px;
    height: 65px;
    min-width: 65px;
    margin-left: 30px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: grey; }
    @media (max-width: 479px) {
      .answer .avatar {
        width: 40px;
        height: 40px;
        min-width: 40px;
        margin-right: 15px; } }
  .answer .messages-answwer {
    background: #f2f4f7;
    color: #797b7e;
    font-size: 14px;
    line-height: 24px;
    padding: 20px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.messages-qwestion {
  background: #3395ff;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .messages-qwestion:before {
    content: '';
    position: absolute;
    top: 50px;
    left: 80px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 16px 0;
    border-color: transparent #3395ff transparent transparent; }

.messages-author {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px; }
  .messages-author:after {
    content: '|';
    margin-left: 12px; }

.messages-answwer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  position: relative; }
  .messages-answwer:before {
    content: '';
    position: absolute;
    top: 31px;
    right: -15px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 0 0;
    border-color: #f2f4f7 transparent transparent transparent; }
  .messages-answwer .messages-author {
    color: #333;
    font-weight: bold; }
    .messages-answwer .messages-author:after {
      content: '|';
      margin-left: 12px;
      color: #979fad; }

.messages-submit {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px; }

.messages-field {
  width: 100%;
  height: 70px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ededed;
  padding: 0px 106px 0px 66px;
  line-height: 70px;
  outline: none;
  color: #9da0a4; }
  @media (max-width: 767px) {
    .messages-field {
      padding: 0 70px 0 40px; } }

.messages-form {
  position: relative;
  width: 100%; }
  .messages-form .icon-camera {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 33px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (max-width: 767px) {
      .messages-form .icon-camera {
        left: 15px; } }
  .messages-form .fa-camera:before {
    color: #3395ff; }

.messages-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 100px;
  background-color: #1d2025;
  cursor: pointer; }
  @media (max-width: 767px) {
    .messages-button {
      width: 70px; } }
  .messages-button:hover {
    background: #3395ff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0px 0 15px;
            box-shadow: 0px 0 15px; }
  .messages-button .fa-long-arrow-alt-right {
    font-size: 40px;
    color: white; }

.contact-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }

.left-form,
.right-form {
  width: 50%; }

.left-form {
  padding: 0 15px 0 0; }

.right-form {
  padding: 0 0 0 15px; }

.bottom-form {
  width: 100%; }

.input-holder label {
  display: block;
  font-size: 14px;
  word-break: break-word;
  color: black;
  font-weight: bold; }

.input-holder input,
.input-holder textarea,
.input-holder select {
  width: 100%;
  height: 40px;
  padding: 25px 10px;
  margin: 15px 0;
  border: 1px solid #ededed;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #f4f4f4; }
  .input-holder input:focus,
  .input-holder textarea:focus,
  .input-holder select:focus {
    outline: none;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
    background: #fff; }

#masseg {
  height: 245px;
  resize: none;
  padding: 10px; }

.submit-holder {
  text-align: center;
  padding: 20px 0 0 0; }

#submit {
  width: 170px;
  padding: 20px 0;
  border: 1px solid #3395ff;
  cursor: pointer;
  outline: none;
  background: white;
  color: #3395ff;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1); }
  @media (max-width: 767px) {
    #submit {
      margin: 15px; } }
  #submit:hover {
    color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #3395ff; }
