
.aside {
	position: relative;
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
	max-width: 100px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	transition: .5s;
	@media (max-width: 767px) {
		position: absolute;
    padding: 0 0 80px 0;
    z-index: 3;
	}
	@media (max-width: 479px) {
		max-width: 50px;
	}
	h3{
			color: #d5d8dc;
			@media (max-width: 479px) {
				font-size: 10px;
				text-align: center;
				padding: 10px 0 0 0;
			}
		}

	&__list {
		margin-right: 6px;
	}
	&__title {
		padding: 20px 0 0 20px;	
		@media (max-width: 479px) {
			padding: 10px 0 0 8px;	
		}
	}
	&__item {
		transition: .3s;
		a {
			color: transparent;
			i {
				color: $primaryColor;
			}
		}
		&:hover {
			background-color: $primaryHover;
			a {
				border-left: 6px solid $blue;
			}
			i {
				color: $blue;
			}
		}
		a {
			border-left: 6px solid transparent;
			display: block;
			padding: 20px 0 20px 35px;	
			transition: .3s;
			@media (max-width: 479px) {
				padding: 10px 0 10px 12px;
			}
			i {
				margin-right: 24px;
			}
		}
	}

	&__active {
		max-width: 300px;
		transition: .5s;
		a {
		color: $primaryColor;
	  }
	}
	.fa-cog:before {
		font-size: 20px;
	}
}

.options {
	position: absolute;
	height: 45px;
	width: 70px;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	background: #f9f9f9;
	border: 1px solid $grey;
	border-radius: 4px;
	@media (max-width: 479px) {
		height: 30px;
		width: 35px;
	}
	&:hover {
		color: #1585ff;			
		transition: .3s;
		box-shadow: 0px 0 15px;
	}	
}

