@font-face {
    font-family: 'Courgette';
    src: url('../../fonts/Courgette-Regular.woff2') format('woff2'),
        url('../../fonts/Courgette-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper {
	color: $primaryColor;
	height: 100%;
	font-family: 'Raleway';
}

.content {
	display: flex;
	background: $primaryBackground;
}

.main {
	width: 100%;
}

.main_hero {
	display: flex;
	padding: 50px 40px;

	@media (max-width: 1600px) {
		flex-direction: column-reverse;
	}
}


.hero_content {
	width: calc(67% - 40px);
	margin: 0 50px 0 0;
	background: #fff;
	@media (max-width: 1600px) {
		width: 100%;
		margin: 0;
	}
}

.wrap-messages {
    padding: 30px 40px;
}