.profile-wrap {
	width: 30%;
	.profile-info {
		display: block;
		text-align: center;
		padding: 0 0 10px 0;
	}
}

.hero-profile {
	background: #fff;
	padding: 40px;
	margin: 0 0 60px 0;
}

.photo-profile {
	display: block;
	width: 100px;
	height: 100px;
	background: $primaryBackground;
	border: 2px solid $blue;
	border-radius: 50%;
	margin: 0 auto 25px auto;
}

.button-wrap {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
	.profile-button {
		width: 170px;
		padding: 20px 0;
		border: 1px solid $blue;
		border-radius: 30px;
		cursor: pointer;
		outline: none;
		background: white;
		color: $blue;
		&:hover {
			background: green;
			transform: scale(1.1);
			color: white;
		}
	}
	.edit {
		background: $blue;
		color: white;
	}
}

.profile-statistics {
	display: flex;
	border-top: 2px solid $grey;
	border-bottom: 2px solid $grey;
	padding: 20px 0;
	.name-stat {
		margin: 15px 0 0 0;
	}
}


.wrapp-stars {
	width: 70px;
  position: relative;
	ul {
	  padding: 0;
	  margin: 0 0 15px 0;
	}
	.rank-stars {
		display: flex;
		.fa-star {
			font-size: 12px;
 			 color: gold;
		}
	}
	.rank-stars-active {
	  position: absolute;
	  overflow: hidden;
	}
}

.profile-statistics {
	display: flex;
	justify-content: space-around;
	span {
		display: block;
	}
}

.product-info-wrap {
	padding: 25px 0;
}

.product-info {
	display: flex;
	justify-content: space-between;
	position: relative;
	&:first-child {
		margin: 0 0 30px 0;
	}
	.product-info-bg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		background: $blue;
		border-radius: 5px;
		.fab,
		.far {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
		}
	}
	.info-bg-green {
		background: #0ac51b;
	}
}

.product-info-text {
	padding: 0 0 0 55px;
	span {
		display: block;
	}
	.place {
		margin: 15px 0 0 0;
	}
}

.web-site {
	text-align: center;
	padding: 25px 0 0 0;
	border-top: 2px solid $grey;
	a {
	 color: $grey;
	} 
}



.pay-info-wrap {
	background: #fff;
	padding: 40px;
}

.test1 {
	border-bottom: 2px solid $grey;
}

.text11,
.test12 {
	display: flex;
	justify-content: space-between;
	padding: 0 0 25px 0;
}

.test2 {
	padding: 20px 0 0 0;
}
.pay-info {
	width: 100%;
	border: none;
	tr {
		border:none;
		th {
			border:none;
			padding: 10px 0;
			text-align: left;
		}
	}
}