
.main_header {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	background: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
	width: 100%;
}

.your-profile-wrap {
	span {
		display: block;
	}
}

.choice-home {
	display: flex;
	padding: 10px 0 0 0;
	.choice-home_home {
		padding: 0 10px 0 0 ;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 1px;
			height: 16px;
			background: $grey;
		}
	}
	.choice-home_profile {
		padding: 0 0 0 10px;
	}
}


.income {
	display: flex;
	flex-direction: column;
}

.income-wrap {
	display: flex;
	&:first-child {
		padding: 0 32px 0 0;
	}
	.pillar-one {
		height: 16px;		
	}
	.pillar-two {
		height: 12px;
	}
	.pillar-three {
		height: 8px;
	}
	.pillar-four {
		height: 10px;
	}
	.pillar-five {
		height: 32px;
	}
	.pillar-six {
		height: 16px;
	}
	.pillar-sevne {
		height: 22px;
	}
	.pillar-eight {
		height: 28px;
	}
	.pillar-nine {
		height: 38px;
	}
	.pillar-ten {
		height: 19px;
	}
}

.rank-bg {
	display: inline-block;
	height: 40px;
	width: 3px;
	background: #979fad;
	&:hover {
		background: $pink;
		cursor: pointer;
	}
}

.rank-bg-blue:hover {
	background: $blue;
}

.rank-wrap {
	display: flex;
}

.tooltip.pink {
	.tooltip-inner {
		background: $pink;
	}
	.arrow {
		&:before {
			border-top-color: $pink;
		}
	}
}

.tooltip.blue {
	.tooltip-inner {
		background: $blue;
	}
	.arrow {
		&:before {
			border-top-color: $blue;
		}
	}
}