
.main_header {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	background: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
	width: 100%;

	@media (max-width: 767px) {
		flex-direction: column;
    align-items: center;
	}

	@media (max-width: 479px) {
		align-items: right;
		padding: 20px 15px;
	}
}

.your-profile-wrap {

	@media (max-width: 767px) {
		padding: 0 0 20px 0;
	}
	span {
		display: block;
	}
}

.name-your-profile {
	font-size: 22px;
	color: #333;
	font-weight: bold;
}

.choice-home {
	display: flex;
	padding: 10px 0 0 0;

	@media (max-width: 479px) {
		font-size: 10px;
	}

	.choice-home_home {
		padding: 0 12px 0 0 ;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 1px;
			height: 16px;
			background: $grey;
		}
	}
	.choice-home_profile {
		padding: 0 0 0 10px;
	}
	a:hover {
		color: $blue;
		text-shadow: 0 0 10px;
	}
}


.income {
	display: flex;
	flex-direction: column;
	padding: 0 15px 0 0;
	.income-name {
		text-transform: uppercase;
		font-weight: 500;
	}
	.income-total {
		color: $blue;
		font-weight: bold;
		font-size: 20px;
	}
}

.income-wrap {
	display: flex;
	@media (max-width: 767px) {
		width: 100%;
		justify-content: center;
		padding: 0 0 0 15px;
	}

	&:first-child {
		padding: 0 32px 0 0;
		@media (max-width: 767px) {
			padding: 0;
			margin: 0 0 20px 0;
		}
	}
	.pillar-one {
		height: 16px;		
	}
	.pillar-two {
		height: 12px;
	}
	.pillar-three {
		height: 8px;
	}
	.pillar-four {
		height: 10px;
	}
	.pillar-five {
		height: 32px;
	}
	.pillar-six {
		height: 16px;
	}
	.pillar-sevne {
		height: 22px;
	}
	.pillar-eight {
		height: 28px;
	}
	.pillar-nine {
		height: 38px;
	}
	.pillar-ten {
		height: 19px;
	}
}

.rank-bg {
	display: inline-block;
	height: 40px;
	width: 3px;
	background: #979fad;
	&:hover {
		background: $pink;
		cursor: pointer;
	}
}

.rank-bg-blue:hover {
	background: $blue;
}

.rank-wrap {
	display: flex;
	flex-wrap: wrap;
}

.tooltip.pink {
	.tooltip-inner {
		background: $pink;
	}
	.arrow {
		&:before {
			border-top-color: $pink;
		}
	}
}

.tooltip.blue {
	.tooltip-inner {
		background: $blue;
	}
	.arrow {
		&:before {
			border-top-color: $blue;
		}
	}
}