@import 'assets/vars';

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fff;
	display: flex;
	font-family: $primaryFont;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

p {
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

