

//bootsrap import
@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/tooltip';

// scroll bar
@import 'assets/libs/jquery.scrollbar';



@import 'assets/reset';
@import 'assets/vars';
@import 'assets/mixins';
@import 'assets/base';
@import 'assets/header';
@import 'assets/aside';
@import 'assets/main-header';
@import 'assets/hero-profile';
@import 'assets/activity';
@import 'assets/tab';
@import 'assets/footer';
@import 'assets/messeges';
